#root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



#topMenu {
  width: 100%;
  padding: .5rem;
  background-color: rgb(156, 13, 13);
  max-height: 3rem;
  margin-bottom: 20px;

}

body {
  display: flex;
  justify-content: space-between;
}

#topMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  max-height: 3rem;
  align-items: center;
  display: flex;
}


#logoTopMenu {
  height: 3rem;
}


#doubleLink {
  gap: 20px;
  padding-right: 20px;
}

li a {
  color: rgb(255, 255, 255);
  transition: color 0.3s;
  font-size: 1.4rem;
}

li a:hover {
  color: rgb(17, 17, 17);
  cursor: pointer;
}

.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}

#profileIcon {
  padding-right: 0.75rem;
  fill: white;
  transition: fill 0.3s;
}

#profileIcon:hover {
  fill: black;
  cursor: pointer;
}


#main {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 86.5vh;
  background-color: #202020;
  border-radius: 20px;

}